<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Gtd" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-white antialiased">
    <ul class="relative z-10 flex items-center gap-4 px-4 sm:px-6 lg:px-8 justify-end">
      <%= if @current_user do %>
        <li class="text-[0.8125rem] leading-6 text-zinc-900 flex items-center gap-2">
          <.link href={~p"/users/#{@current_user.username}"}>
            <img src={@current_user.avatar_url} alt="Avatar" class="w-6 h-6 rounded-full" />
          </.link>
        </li>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          <%= @current_user.username %>
        </li>
        <li class="text-[0.8125rem] leading-6 text-zinc-900">
          <%= @current_user.email %>
        </li>
        <li>
          <.link
            href={~p"/users/log_out"}
            method="delete"
            class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
          >
            Log out
          </.link>
        </li>
      <% else %>
        <.link href={~p"/users/log_in"} class="text-sm font-semibold">
          Login
        </.link>
      <% end %>
    </ul>
    <%= @inner_content %>
    <footer class="text-center text-gray-500 text-sm py-4 absolute bottom-0 w-full">
      © 2023 智能TODO助手 | 高效管理您的任务，提升工作效率
    </footer>
  </body>
</html>
